absl-py==0.7.1
alabaster==0.7.12
alembic==1.4.2
appdirs==1.4.3
appnope==0.1.0
appscript==1.0.1
asn1crypto==0.24.0
astor==0.8.0
astroid==2.2.5
astropy==4.0.1.post1
atomicwrites==1.3.0
attrs==19.3.0
Automat==0.7.0
Babel==2.6.0
backcall==0.1.0
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
bayesian-optimization==1.0.1
beautifulsoup4==4.7.1
bitarray==0.8.3
bleach==3.1.0
blis==0.2.4
boto==2.49.0
boto3==1.9.147
botocore==1.12.147
botorch==0.1.4
branca==0.3.1
certifi==2019.3.9
cffi==1.12.2
chainer==6.0.0
chakin==0.0.8
chardet==3.0.4
chariot==0.5.6
chart-studio==1.0.0
chazutsu==0.8.2
chromedriver-binary==80.0.3987.106.0
Click==7.0
cliff==3.3.0
cloudpickle==1.2.2
clyent==1.2.2
cmaes==0.5.0
cmd2==1.1.0
colorama==0.4.1
colorlog==4.1.0
colorlover==0.3.0
conda==4.6.14
conda-build==3.17.8
confuse==1.1.0
conllu==1.3.1
constantly==15.1.0
contextlib2==0.5.5
corenlp-python==3.4.1.post1
cryptography==2.6.1
cufflinks==0.17.0
cycler==0.10.0
cymem==2.0.2
Cython==0.29.6
cytoolz==0.9.0.1
dask==1.1.4
decorator==4.4.0
defaultlist==1.0.0
defusedxml==0.5.0
distributed==1.26.0
docutils==0.14
editdistance==0.5.3
en-core-web-lg==2.1.0
en-core-web-sm==2.1.0
entrypoints==0.3
et-xmlfile==1.0.1
fairseq==0.9.0
fastcache==1.0.2
feedparser==5.2.1
filelock==3.0.12
flaky==3.6.1
Flask==1.0.2
Flask-Cors==3.0.7
folium==0.10.0
ftfy==5.7
funcy==1.14
future==0.17.1
gast==0.2.2
gensim==3.7.3
geocoder==1.38.1
gevent==1.4.0
ginza==2.0.0
glob2==0.6
gmpy2==2.0.8
google-pasta==0.1.7
googlemaps==3.1.3
googletrans==2.4.0
gpytorch==0.3.6
graphviz==0.11.1
greenlet==0.4.15
grpcio==1.21.1
gspread==3.1.0
gunicorn==20.0.4
gym==0.14.0
-e git+https://github.com/lusob/gym-ple.git@441a02f39620f659fc78d06f867e3bccff28b96f#egg=gym_ple
h5py==2.9.0
heapdict==1.0.0
html5lib==1.0.1
htmlmin==0.1.12
httplib2==0.18.0
hyperlink==18.0.0
idna==2.8
ijson==2.4
ImageHash==4.1.0
imagesize==1.1.0
importlib-metadata==0.0.0
incremental==17.5.0
ipdb==0.12.2
ipykernel==5.1.0
ipython==7.4.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isodate==0.6.0
isort==4.3.16
itsdangerous==1.1.0
ja-ginza==2.1.0
Janome==0.3.10
japanize-matplotlib==1.0.5
jdcal==1.4
jedi==0.13.3
Jinja2==2.11.2
jmespath==0.9.4
joblib==0.14.1
json5==0.8.5
jsonpatch==1.25
jsonpickle==1.3
jsonpointer==2.0
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
jupyter-tensorboard==0.1.10
jupyterlab==1.0.0
jupyterlab-launcher==0.13.1
jupyterlab-server==1.0.0
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==18.0.0
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
libarchive-c==2.8
lief==0.9.0
lightgbm==2.3.1
line-bot-sdk==1.14.0
llvmlite==0.29.0
locket==0.2.0
lxml==4.3.0
Mako==1.1.3
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
mecab-python3==0.996.5
missingno==0.4.2
mistune==0.8.4
mock==3.0.5
more-itertools==6.0.0
mpmath==1.1.0
msgpack==0.6.1
multipledispatch==0.6.0
murmurhash==1.0.2
navigator-updater==0.2.1
nbconvert==5.4.1
nbformat==4.4.0
networkx==2.4
nlplot==1.1.0
nltk==3.4
nose==1.3.7
notebook==5.7.8
numba==0.45.1
numexpr==2.7.0
numpy==1.19.0
numpydoc==0.8.0
oauth2client==4.1.3
olefile==0.46
openpyxl==2.6.1
opt-einsum==3.2.1
optuna==1.5.0
orca==1.5.1
ortoolpy==0.2.23
overrides==2.8.0
packaging==19.0
pandas==1.0.4
pandas-profiling==2.8.0
pandocfilters==1.4.2
parsimonious==0.8.1
parso==0.3.4
partd==0.3.10
path.py==11.5.0
pathlib2==2.3.3
pbr==5.4.5
pdf2image==1.5.4
pdf2sb==0.3.5
pep8==1.7.1
pexpect==4.6.0
phik==0.10.0
pickleshare==0.7.5
Pillow==5.4.1
pkginfo==1.5.0.1
plac==0.9.6
-e git+https://github.com/ntasfi/PyGame-Learning-Environment.git@3dbe79dc0c35559bb441b9359948aabf9bb3d331#egg=ple
plotly==4.4.1
pluggy==0.9.0
ply==3.11
portalocker==1.5.2
powerline-shell==0.7.0
preshed==2.0.1
prettytable==0.7.2
progressbar2==3.39.3
prometheus-client==0.6.0
prompt-toolkit==2.0.9
protobuf==3.8.0
psutil==5.6.1
ptyprocess==0.6.0
PuLP==1.6.10
py==1.8.0
pyasn1==0.4.5
pyasn1-modules==0.2.4
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycurl==7.43.0.2
pydot==1.4.1
pydot-ng==2.0.0
pydot3==1.0.9
pydotplus==2.0.2
pyflakes==2.1.1
pygame==1.9.6
pygeocoder==1.2.5
pyglet==1.3.2
Pygments==2.3.1
PyHamcrest==1.9.0
pyknp==0.4.1
pyLDAvis==2.1.2
pylint==2.3.1
pyodbc==4.0.26
pyOpenSSL==19.0.0
pyparsing==2.3.1
PyPDF2==1.26.0
pyperclip==1.8.0
pyro-api==0.1.2
pyro-ppl==1.3.1
pyrsistent==0.14.11
PySocks==1.6.8
pytest==4.3.1
pytest-openfiles==0.3.2
pytest-remotedata==0.3.1
python-dateutil==2.8.0
python-editor==1.0.4
python-gyazo==1.1.0
python-utils==2.3.0
pytorch-pretrained-bert==0.6.2
pytorch-transformers==1.1.0
pytz==2018.9
PyWavelets==1.1.1
PyYAML==5.1
pyzmq==17.1.2
QtAwesome==0.5.7
qtconsole==4.4.3
QtPy==1.7.0
ratelim==0.1.6
rdflib==4.2.2
regex==2019.8.19
requests==2.23.0
responses==0.10.11
retrying==1.3.3
rope==0.12.0
rsa==4.0
ruamel-yaml==0.15.46
s3transfer==0.2.0
sacrebleu==1.4.3
sacremoses==0.0.33
scikit-learn==0.23.1
scipy==1.4.1
seaborn==0.9.0
selenium==3.141.0
Send2Trash==1.5.0
sentencepiece==0.1.83
service-identity==18.1.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.12.0
sklearn==0.0
smart-open==1.8.3
snowballstemmer==1.2.1
sortedcollections==1.1.2
sortedcontainers==2.1.0
soupsieve==1.8
spacy==2.1.4
SPARQLWrapper==1.8.4
Sphinx==1.8.5
sphinxcontrib-websupport==1.1.0
spyder==3.3.3
spyder-kernels==0.4.2
SQLAlchemy==1.3.1
sqlparse==0.3.1
srsly==0.0.5
stevedore==2.0.0
stop-words==2018.7.23
SudachiDict-core==20190531
SudachiPy==0.3.3
sympy==1.3
tables==3.5.2
tangled-up-in-unicode==0.0.6
tblib==1.3.2
tensorboard==1.14.0
tensorboardX==2.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
tensorflow-gpu==1.1.0
tensorflow-hub==0.4.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
thinc==7.0.4
threadpoolctl==2.1.0
tokenizers==0.0.11
toolz==0.9.0
torch==1.5.0
torchfile==0.1.0
torchtext==0.3.1
torchvision==0.3.0
torchviz==0.0.1
tornado==6.0.3
tqdm==4.46.0
traitlets==4.3.2
transformers==2.4.1
Twisted==17.5.0
typed-ast==1.3.1
typing==3.6.6
typing-extensions==3.7.2
umap==0.1.1
umap-learn==0.3.10
unicodecsv==0.14.1
Unidecode==1.1.1
updates==0.1.7.1
urllib3==1.24.1
visdom==0.1.8.9
visions==0.4.4
wasabi==0.2.2
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==0.15.4
widgetsnbextension==3.5.1
word2number==1.1
wordcloud==1.7.0
wrapt==1.11.1
wurlitzer==1.0.2
xlrd==1.2.0
XlsxWriter==1.1.5
xlwings==0.15.4
xlwt==1.2.0
xmltodict==0.12.0
zict==0.1.4
zipp==0.3.3
zope.interface==4.6.0
