<!DOCTYPE html>
<html lang="ja">


  <head>
    <title>Shumpei Miyawaki</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/main.css?q=42203">
    <link rel="stylesheet" href="../static/css/chat.css?q=42203">
    <link rel="stylesheet" href="../static/css/table.css?q=42553">
    <link rel="stylesheet" href="../static/css/mail.css?q=42203">
    <link rel="stylesheet" href="../static/css/poster.css?q=43253">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="../static/javascript/ajax.js"></script>
  </head>

  <body>

    <header>
      <div class="area">
        <h1>MIYAWAKI SHUMPEI</h1>
        <p>Tohoku University</p>
      </div>
      <div class="area right">
        <nav id="nav">     
          <ul class="nav_header">
            <li class="nav_header"><a href="#sec_about">Profile</a></li>
            <li class="nav_header"><a href="#sec_project">Project</a></li>
            <li class="nav_header"><a href="#sec_publications">Publications</a></li>
            <li class="nav_header"><a href="#sec_contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <div style="padding: 5em;"></div>

    <div>
      <!-- About -->
      <div id="sec_about" class="box_section">
        <div class="section">
          <h1 class="title" style="padding: 0 1em;">Profile</h1>
        </div>
        <hr>

        <div class="area">
          <p>
            I'm in the 1st year of a master's student at <a href="https://www.tohoku.ac.jp/japanese/">Tohoku University</a>,
            and currently study "Natural Language Processing (NLP)" in <a href="https://www.nlp.ecei.tohoku.ac.jp/">Inui Lab</a>.
            My research interests focus on <span class="bold">Semantic Analysis</span>, <span class="bold">Question Answering</span> and <span class="bold">Dialogue System</span>.
          </p>
          
          <div style="area">
            <ul style="list-style: none; font-size: small; padding-top: 1em;">
              <li><i class="fas fa-laptop-code my-small"></i>　python, Bash, scala, Docker, C, html, R, GCP</li>
              <li><i class="fas fa-running"></i>　soccer, volleyball, snowboarding, outdoors</li>
              <li><i class="fab fa-spotify my-small"></i>　SEKAI NO OWARI, go!go!vanillas, LUCKY TAPES</li>
            </ul>
          </div>
        </div>

      </div>

      <!-- Project -->
      <div id="sec_project" class="box_section">
        <div class="section">
          <h1 class="title" style="padding: 0 1em;">Projects</h1>
        </div>
        <hr>

        <div id="project_qasrl" class="box_subsec">
          <div class="area">
            <div class="subsec">
              <h2 class="title">QA 形式に基づく述語項構造データ収集</h2>
            </div>
            <div class="area">
              <p>
                述語項構造解析、特にゼロ照応を対象に、新たなデータ形式によるデータセットの作成を行う。新たなデータ形式として、自然言語ベースの QA 形式によるアノテーション方式を採用することで、専門家によらず誰でもアノテーションが可能となり、大規模なデータセットの収集が期待される。
                例えば、「太郎 が 学校 に 行っ た 。」という文章に対して、「誰が学校に行った？太郎」のような質問と答えのペアを作成する。
              </p>
            </div>
          </div>
        </div>

        <div id="project_dialogue" class="box_subsec">
          <div class="area">
            <div class="subsec">
              <h2 class="title">雑談対話応答システム構築</h2>
            </div>
            <div class="area">
              <p>
                研究室の有志で雑談型対話システムを構築しており、中でも、感情分析モジュールを担当しています。
                ユーザの感情を分析し、より感情豊かで適切な応答生成を目指し、開発を行っています。
              </p>
            </div>
            <div class="area">
              <p style="font-size: small;">
              2020 年下半期では、Twitter のリプライチェーンから、絵文字が付与された応答文を学習データとして抽出し、SLUD （下記詳細）で構築した対話モデル「ILYS aoba ボット」を Fine-tuning することで、四つの感情（喜怒哀楽）を制御した応答生成に取り組みました。
              </p>
            </div>
          </div>

          <div class="area">
            <div class="subsec">
              <h2 class="title">SLUD-2020</h2>
            </div>
            <div class="area">
              <p>
                研究室の７名で対話システムを構築し、<a href="https://dialog-system-live-competition.github.io/dslc3/result.html">人工知能学会 言語・音声理解と対話処理研究会 SIG-SLUD 2020</a> の対話コンペに参加しました。
                我々が構築した「<a href="https://github.com/cl-tohoku/ILYS-aoba-chatbot">ILYS aoba ボット</a>」は、予選２位、本戦２位となる優秀賞を受賞しました。
              </p>
            </div>
            <div class="area">
              <p style="font-size: small;">
                「自然、かつ、ユーザが話したい話題について情報交換が可能なシステム」の構築を目的とし、
                話題に即した自然な応答が可能な系列変換器、
                および話題に関する新たな情報を提供する知識ベースの応答モジュールを統合しました。
                系列変換器には、3Bの Twitter リプライチェーンで事前学習を行い、対話破綻検出チャレンジのデータセットを含む 118K のデータセットで Fine-tuning を行った
                Transformer (パラメータ数 ≒ 4.8B) を使用しました。
                知識ベースの応答モジュールについては、キーワード抽出によるルールベースを使用し、
                「東京タワーってどこにあるの？」といったキーワードに関する知識を尋ねる質問に対して、
                「東京タワーは東京都港区芝公園にあります。日本の観光地として有名です。」のように、
                適切な知識を埋め込んだ応答を生成します。
                最終的な応答出力には、系列変換器から生成された応答文候補と、
                知識ベースの応答モジュールから生成された応答文候補に対して、
                様々な観点からスコア付けを行い、最終的な出力を決定します。
                その他、詳細については<a href="https://jsai.ixsq.nii.ac.jp/ej/?action=pages_view_main&active_action=repository_view_main_item_detail&item_id=10933&item_no=1&page_id=13&block_id=23">論文</a>または<a href="https://dialog-system-live-competition.github.io/dslc3/slides/O02_ILYS.pdf">発表スライド</a>を参照下さい。
              </p>
            </div>
          </div>
          
          <!-- chatbot -->
          <div id="bot-ilys" class="center area">
            <div id="bot-name">
              <h2 class="title">🌱 ILYS aoba</h2>
            </div>

            <div id="ILYS_chatbot">
              <div id="your_container" class="center">
                <div id="bms_messages_container">
                  <!-- message -->
                  <div id="bms_messages" class="center">
                    {% if outputs is not defined %}
                    <div class="bms_message bms_left">
                      <div class="bms_message_box">
                        <div class="bms_message_content">
                          <div class="bms_message_text">
                            何か話しかけてください
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="bms_clear"></div>
                    {% endif %}
                  </div>
                  <!-- button --> 
                  <div id="bms_send" class="center">
                    <form id="form" autocomplete="off">
                      <input id="bms_send_message" type="text" placeholder="Message">
                      <button id="bms_send_btn" type="submit" name="button">送信</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- clear -->
          <div style="text-align: center; margin: 0 auto;">
            <div class="area">
              <form action="/clear_history" method="post">
                <button id="clear_btn" type="submit">クリア</button>
              </form>
            </div>
          </div>

        </div>


        <div id="project_efqa" class="box_subsec">
          <div class="area">
            <div class="subsec">
              <h2 class="title">Efficient Open-Domain Question Answering</h2>
            </div>
            <div class="area">
              <p>
                国際会議 <a href="https://nips.cc/Conferences/2020">NeurIPS 2020</a> で開催された
                QA コンペ「<a href="https://efficientqa.github.io/">Efficient Open-Domain Question Answering (Efficient QA)</a>」 に 
                株式会社 Studio Ousia さんと共同で開発させていただいた「<a href="http://soseki.ai/">Sōseki</a>」で挑み、
                <a href="https://efficientqa.github.io/unrestricted_leaderboard.html">unrestricted track contestants</a> で第三位、
                system under 6GB track contestants で準優勝の成績を収めました。
              </p>
            </div>
            <div class="area">
              <p style="font-size: small;">
                任意のファクトイド型の質問に対して、選択肢のような参照する知識源を特に規定しない「オープンドメイン QA タスク」では、一般に以下のような解法が用いられる：
                (1) 大規模な文書集合から質問に関連する文書を検索モジュール (retriever) が抽出し、
                (2) 抽出された関連文書から読解モジュール (reader/generator) が、質問の解答を推定する。
                我々は、retriever に <a href="https://arxiv.org/abs/2004.04906">Dense Passage Retriever (DPR)</a> 、reader (抽出型読解システム) に ELECTRA 、generator (生成型読解システム) に T5 を用いて、最終的にアンサンブルを行いました。
                その他詳細については、以下の資料や<a href="https://arxiv.org/abs/2101.00133">論文</a>を参照下さい。
              </p>
              <p style="font-size: small; padding-top: 1em;">
              - 言語処理学会2020 ワークショップ「AI王 ~クイズAI日本一決定戦」にて、「<a href="https://speakerdeck.com/ikuyamada/opundomeinzhi-wen-ying-da-ji-shu-falsezui-xin-dong-xiang">オープンドメイン質問応答技術の最新動向</a>」と題して、山田育矢様（株式会社 Studio Ousia）による招待講演が開催されました。
              Efficient QA で取り組んだシステムの紹介や、オープンドメイン QA の最新動向について解説されています。
              </p>
            </div>
          </div>

          <div class="area center" style="padding-bottom: 1em;">
            <iframe src="../static/html/efqa_table.html" width="80%"></iframe>
          </div>
        </div>

        <div id="project_aio" class="box_subsec">
          <div class="area">
            <div class="subsec">
              <h2 class="title">言語処理学会ワークショップ: AI王 ~クイズAI日本一決定戦</h2>
            </div>
            <div class="area">
              <p>
                <a href="https://www.google.com/url?q=https%3A%2F%2Fwww.anlp.jp%2Fnlp2021%2F&sa=D&sntz=1&usg=AFQjCNGD2W7LOYvscMWhqAIBs1LY-3GcXw">言語処理学会第27回年次大会（NLP2021）</a> のワークショップの一つとして開催される、
                クイズを題材とした日本語QAデータセットJAQKETを使った、
                QAコンペのオーガナイザとして参加しました。
                コンペティション当日は、機械読解や質問応答の第一人者や、クイズ作家による招待講演や、本コンペに参加した 11 チームによるシステム報告と、おかげさまで非常に盛り上がることができました。
                来年以降の開催状況については、<a href="https://www.google.com/url?q=https%3A%2F%2Fwww.nlp.ecei.tohoku.ac.jp%2Fprojects%2Faio%2F&sa=D&sntz=1&usg=AFQjCNHgItkH1hW1eF-nd8POAsPbSdQiIg">コンペティション概要ページ</a>にて、情報を更新していきます。
              </p>
            </div>
            <div class="area">
              <ul style="padding: 0 2em;">
                <li><a href="https://sites.google.com/view/nlp2021-aio/">ワークショップページ</a></li>
                <li><a href="https://www.google.com/url?q=https%3A%2F%2Fwww.nlp.ecei.tohoku.ac.jp%2Fprojects%2Faio%2F&sa=D&sntz=1&usg=AFQjCNHgItkH1hW1eF-nd8POAsPbSdQiIg">コンペティション概要</a></li>
                <li><a href="https://twitter.com/AioJaqket">Twitter</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>

      <!-- Publications -->
      <div id="sec_publications" class="box_section">
        <div class="section">
          <h1 class="title" style="padding: 0 1em;">Publications</h1>
        </div>
        <hr>

        <div id="papers" class="box_subsec">
          <div class="area">
            <div class="subsec">
              <h2 class="title">Papers</h2>
            </div>
            <div class="area">
              <ul style="padding: 0 2em;">
                <li>
                  <p class="paper"><a href="https://www.anlp.jp/nlp2021/program_online/pdf_dir/P7-15.pdf">オープンドメインQAにおけるDPRの有効性検証</a></p>
                  <div class="paper_info">
                    <p>*加藤拓真, *宮脇峻平, 西田京介, 鈴木潤 (*の貢献は同等である)</p>
                    <p>言語処理学会 第27回 年次大会 (NLP2021)</p>
                  </div>
                </li>
                <li>
                  <p class="paper"><a href="https://arxiv.org/abs/2101.00133">NeurIPS 2020 EfficientQA Competition: Systems, Analyses and Lessons Learned</a></p>
                  <div class="paper_info">
                    <p><span style="font-weight: bold;">Our Team: </span>Ikuya Yamada, Sonse Shimaoka, Masatoshi Suzuki, Shumpei Miyawaki, Shun Sato, Ryo Takahashi, Jun Suzuki</p>
                    <p>Neural Information Processing Systems (NeurIPS2020)</p>
                  </div>
                </li>
                <li>
                  <p class="paper"><a href="https://jsai.ixsq.nii.ac.jp/ej/?action=pages_view_main&active_action=repository_view_main_item_detail&item_id=10933&item_no=1&page_id=13&block_id=23">ILYS aoba bot:大規模ニューラル応答生成モデルとルールベースを統合した雑談対話システム</a></p>
                  <div class="paper_info">
                    <p>藤原吏生, 岸波洋介, 今野颯人, 佐藤志貴, 佐藤汰亮, 宮脇峻平, 加藤拓真, 鈴木潤, 乾健太郎</p>
                    <p>人工知能学会 第90回言語・音声理解と対話処理研究会 (SLUD2020)</p>
                  </div>
                </li>
                <li>
                  <p class="paper"><a href="https://www.aclweb.org/anthology/2020.acl-srw.30/">Embeddings of Label Components for Sequence Labeling: A Case Study of Fine-grained Named Entity Recognition</a></p>
                  <div class="paper_info">
                    <p>Takuma Kato, Kaori Abe, Hiroki Ouchi, Shumpei Miyawaki, Jun Suzuki, Kentaro Inui</p>
                    <p>Proceedings of the 58th Annual Meeting of the Association for Computational Linguistics: Student Research Workshop (ACL-SRW2020)</p>
                  </div>
                </li>
                <li>
                  <p class="paper"><a href="https://www.anlp.jp/proceedings/annual_meeting/2020/pdf_dir/C5-2.pdf">反復改良法を用いた日本語述語項構造解析</a></p>
                  <div class="paper_info">
                    <p>宮脇峻平、清野舜、松林優一郎、今野颯人、高橋諒、大内啓樹、乾健太郎</p>
                    <p>言語処理学会 第26回 年次大会 (NLP2020)</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div id="posters" class="box_subsec">
          <div class="subsec area" style="padding-bottom: 2em;">
            <h2 class="title">Posters</h2>
          </div>

          <div class="area">
            <ul class="list_poster">

              <li class="item">
                <div class="poster">
                  <a href="https://www.anlp.jp/nlp2021/program_online/pdf_dir/P7-15.pdf" style="color:white;">
                    <img src="/static/img/nlp2021_poster.png">
                    <div class="mask">
                      <div class="poster_info">
                        <div class="area">
                          オープンドメインQAにおける<br>
                          DPR の有効性検証
                        </div>
                        <div class="area">
                          加藤拓真*，宮脇峻平*，西田京介，鈴木潤<br>
                          (* の貢献は同等である)
                        </div>
                        <div class="area">
                          言語処理学会 第27回（NLP 2021）
                        </div>
                      </div>
                     </div>
                  </a>
                </div>
              </li>

              <li class="item">
                <div class="poster">
                  <a href="https://drive.google.com/file/d/1xX-JabYTNXaogSgIJKV6slYz4AHau44B/view?usp=sharing" style="color:white;">
                    <img src="/static/img/yans20_miya.png">
                    <div class="mask">
                      <div class="poster_info">
                        <div class="area">
                          QA-SRLとのマルチタスク学習による<br>
                          意味役割付与のデータ拡張
                        </div>
                        <div class="area">
                          宮脇峻平、清野舜、松林優一郎、<br>
                          今野颯人、乾健太郎
                        </div>
                        <div class="area">
                          NLP若手の会 第15回（YANS 2020）
                        </div>
                      </div>
                     </div>
                  </a>
                </div>
              </li>

            </ul>
          </div>

          <div class="area">
            <ul class="list_poster">

              <li class="item">
                <div class="poster">
                  <a href="https://drive.google.com/open?id=1Sg3vIrE_kxbyBGAR-4UCj3ii3keyK_EM" style="color:white;">
                    <img src="/static/img/yans19_miya.png">
                    <div class="mask">
                      <div class="poster_info">
                        <div class="area">
                          日本語述語項構造解析のための<br>
                          自己回帰モデル
                        </div>
                        <div class="area">
                          宮脇峻平、加藤拓真、今野颯人、大内啓樹、<br>
                          清野舜、松林優一郎、高橋諒、乾健太郎
                        </div>
                        <div class="area">
                          NLP若手の会 第14回（YANS 2019）
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </li>

              <li class="item">
                <div class="poster">
                  <a href="https://drive.google.com/open?id=1v_ncTr7w3RoCmHvaAx2SR-dlZJeB86iP" style="color:white;">
                    <img src="/static/img/yans19_kato.png">
                    <div class="mask">
                      <div class="poster_info">
                        <div class="area">
                          単語ベース及び文字ベースモデルの<br>
                          固有表現抽出の性能比較
                        </div>
                        <div class="area">
                          加藤拓真、宮脇峻平、阿部香央莉、<br>
                          大内啓樹、鈴木潤、乾健太郎
                        </div>
                        <div class="area">
                          NLP若手の会 第14回（YANS 2019）
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </li>

            </ul>
          </div>
        </div>

      </div>
    </div>

    <!-- Contact -->
    <div id="sec_contact" class="box_section">
      <div class="section">
        <h1 class="title" style="padding: 0 1em;">Contact</h1>
      </div>
      <hr>

      <div class="center area">
        <div class="block_contact">
          <form method="post" action="mailto:miyawaki.shumpei@ecei.tohoku.ac.jp" enctype="text/plain" target="_blank" onsubmit="try {return window.confirm(&quot;セキュリティ上の制限から、このフォームは正しく機能しない可能性があります。\n続行しますか？&quot;);} catch (e) {return false;}">
            <div class="area_contact">
              <input type="email" placeholder="Email" autocomplete="off" style="width: 99.5%; margin: 0.2em 0;">
              <input type="text" placeholder="Title" autocomplete="off" style="width: 99.5%; margin: 0.2em 0;">
              <div style="margin: 0.3em 0;">
                <textarea cols="69" rows="8" placeholder="Message" autocomplete="off" style="width: 100%;"></textarea>
              </div>
            </div>
            <input id="submit_btn" type="submit" value="submit">
          </form>
        </div>
      </div>
    </div>

    <!-- footer -->
    <div class="footer">
      <div class="area">
        <p>If you require any further help, please do not hesitate to contact me</p>
        <p>miyawaki.shumpei@ecei.tohoku.ac.jp</p>  
      </div>
      <div>
        <ul class="icons horizontal">
          <li><a href="https://twitter.com/catshun_" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="https://www.facebook.com/shumpei.miyawaki?ref=bookmarks" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
          <li><a href="https://github.com/smiyawaki0820" class="icon brands fa-github"><span class="label">Github</span></a></li>
          <li><a href="https://www.instagram.com/shumpeimiyawaki/?hl=ja" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
        </ul>
      </div>
    </div>

  </body>

</html>
