header {
    top: 0;
    left: 0;
    position: static;
    width: 100%;
    height: 400px;
    background-image: url(./IMG_2342.JPG);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    padding: 0.2em 0.5em;/*上下 左右の余白*/
    color: #494949;/*文字色*/
    background: transparent;/*背景透明に*/
    font-family: "fantasy", fantasy;
    size: 30px;
    float: left
}

.down {
    text-align: center;
    width: 100%;
    position: relative;
    height: 30px;
    color: #555555;
  }

/* メニュー全体のスタイル */
.global-nav {
    position: relative;
    width: 100%;
    height: 60px;
    line-height: 60px;
    max-width: 1000px;
    margin: 3px;
}

/* 各メニューのスタイル */
.global-nav h2 {
    float: right;
    width: auto;
    size: 25px;
    font-family: "fantasy", fantasy;
    padding: 3px;
    margin: 3px;
}

.global-nav h2 a:hover{
    /*background-color: antiquewhite;*/
    color: antiquewhite;
}


.global-nav h2 a {
    display: table;
    width: 25%;
    height: 30px;
    color: #1c1c1c;
    font-size: 25px;
    /*background: #D7EEFF;*/
    text-align: center;
}