.icon {
  position: relative;
  float: left;
  width: 100%;
  left: 0;
  height: 30px;
  margin: 3px;
}

.twitter {color: #0066FF}
.facebook {color: #000080}
.instagram {color: #C71585}



p2 {
    padding: 0.2em 0.5em;/*上下 左右の余白*/
    color: #494949;/*文字色*/
    font-size: 20px;
}


