<!DOCTYPE html>
<html lang="ja">

    <head>
        <title>{{name}}</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="assets/main.css">
        <link rel="stylesheet" href="assets/fontawesome-all.min.css">
    </head>

    <body>
        <header>
            <div id="logo">
                <span class=""><img src="" alt=""></span>
                <h1 id="title">MIYAWAKI SHUMPEI</h1>
                <p>Tohoku University</p>
            </div>
            <nav id="nav">     
                <ul class="nav_header">
                <li class="nav_header"><a href="/index"><span class="">Top</span></a></li>
                <li class="nav_header"><a href="/newcomer"><span class="">Sign up</span></a></li>
                <li class="nav_header"><a href="/login"><span class="">Sign in</span></a></li>
                <li class="nav_header"><a href="/secret"><span class="">Secret</span></a></li>
                </ul>
            </nav>
        </header>
        <div class="blank"></div>
        <div class="bg_test"></div>
        <div class="blank"></div>

        <p><a href="/logout">log out</a></p>

        {% if name == "hoge" %}
        <h1>スペシャル{{name}}神社</h1>
        {% elif name %}
        <h1>{{name}}神社</h1>
        {% else %}
        <h1>ただの神社</h1>
        {% endif %}


        {% for onegai in li %}
        <p>{{onegai.title}}：{{onegai.body}}（{{onegai.date}}）</p>
        {% endfor %}

        <!-- post form -->
        <form action="/index" method="POST">
            <input type="text" name="name" placeholder="Enter name">
            <input type="submit" value="Submit">
        </form>

        <!-- add form -->
        <form action="/add" method="post">
            <input type="text" name="title" placeholder="title">
            <input type="text" name="body" placeholder="body">
            <input type="submit" value="Add">
        </form>

        <!-- update form -->
        <form action="/update" method="post">
            <input type="text" name="title" placeholder="title">
            <input type="text" name="body" placeholder="body">
            <input type="submit" value="Update">
            {% for onegai in all_onegai %}
            <div><input type="radio" name="update" value={{onegai.id}}>{{onegai.title}}：{{onegai.body}}（{{onegai.date}}）</input></div>
            {% endfor %}
        </form>

        <!-- delete form -->
        <form action="/update" method="post" id="update">
            <input type="text" name="title" placeholder="title">
            <input type="text" name="body" placeholder="body">
            <input type="submit" value="Update">
        </form>
        <form action="/delete" method="post" id="delete">
            <input type="submit" value="Delete Selected All Onegai">
        </form>
            {% for onegai in all_onegai %}
            <div>
                <input type="radio" name="update" form="update" value={{onegai.id}}>
                <input type="checkbox" name="delete" form="delete" value={{onegai.id}}>
                {{onegai.title}}：{{onegai.body}}（{{onegai.date}}）
            </div>
            {% endfor %}

        <div class="blank"></div>
    
    </body>

    <div id="footer" class="footer">
    <p>If you have any questions, please contact me from the following address:</p>
    <p>miyawaki.shumpei@ecei.tohoku.ac.jp</p>
    <div class="bottom">
        <ul class="icons">
        <li><a href="https://twitter.com/catshun_" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="https://www.facebook.com/shumpei.miyawaki?ref=bookmarks" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
        <li><a href="https://github.com/smiwayaki0820" class="icon brands fa-github"><span class="label">Github</span></a></li>
        <li><a href="https://www.instagram.com/shumpeimiyawaki/?hl=ja">Instagram</a></li>
        </ul>
    </div>
    </div>

</html>
